apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: fiap-todo-api
  namespace: flux-system
spec:
  interval: 5m                    # Reconcilia a cada 5 minutos
  sourceRef:
    kind: GitRepository
    name: fiap-todo-api           # Referência ao GitRepository acima
  path: ./gitops-repo/applications/fiap-todo-api/overlays/production
  prune: true                     # Remove recursos deletados do Git
  wait: true                      # Aguarda recursos ficarem prontos
  timeout: 2m
  targetNamespace: fiap-todo-prod # ⚠️ Namespace onde aplicar os recursos
